.card-dropdown-container{
    width: 240px;
    height: 340px;
    position: absolute;
    top: 90px;
    right: 40px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;

    .cart-items{
      height: 240px;
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
      &::-webkit-scrollbar{
        width: 8px;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color:rgb(125, 129, 129);
       }
    }

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
      }

    button {
        margin-top: auto;
      }
    }