.cart-icon-container{
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    .shopping-icon{
     width: 30px;
    }
    .item-count{
        position: absolute;
        font-size: 13px;
        bottom: 7.5px;
    }
}